/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&family=Bebas+Neue&family=Heebo:wght@500&family=Poppins:wght@400;500&display=swap');
main{
    background-color: #FDFDFD;
}
.caption{
   width: 582px;
   height: 270px;
   padding-left: 80px;
  
}
.caption>h1{
    font-size: 52px;
}
header>h2{
    padding-left: 80px;
}
.head-section{
  display: grid;
 grid-template-columns: repeat(2, 1fr);
 
}
.camera{ 
   padding-left: 200px;
}
.eror{
    color:#E02C6a ;
    padding-left: 1145px;
}
/* buttom */
/* text decoration not working */
.buttom{
   text-decoration: none;
   color: white;
    background: #E02C6a;
    border: 1px solid;
    height: 30px;
    width: 150px;
    padding-left: 1em;
    border-radius: 40px;
    /* buttom end  */

}
body {font-family: 'Arimo', sans-serif;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Heebo', sans-serif;
    font-family: 'Poppins', sans-serif;
}
/* popular collection  */
.collection-section>h2{
    text-align: center;
}

.fa-star.filled{
    color: orangered;
}
.star-flex{
    display: flex;
    align-items: center;      
    gap: 10px;
}
.all-course{
    display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap:30px ;
   grid-row-gap: 50px;
}  
.course-detail{
 line-height: 0.5;
    height: 200px;
    
}
.courses{
   border: 1px solid white
}
.items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 120px;
    padding-top: 100px;
}
.items-mod{
    background-color: white;
   height: 476px;
   width: 330px;
}
/* footer */
.footer-section{
    padding-left: 550px;
    background-color: #486168;
    color: white;
   padding-top: 8px;
   padding-bottom: 8px;
}
.footer-section>.icons{
    word-spacing: 16px;
}
/* media queries */
/* mobile deviese */
@media only screen and (max-width: 688px) {
 .head-section{
     grid-template-columns: repeat(1, 1fr);
     flex-direction: column;
 }
 .items,h2{
    grid-template-columns: repeat(1, 1fr);
}
 .footer{
     grid-template-columns: repeat(1, 1fr);
 }
 }
 /* tablet device */
 @media only screen and (min-width:689px) and (max-width: 992px)
 {
    .head-section{
      grid-template-columns: repeat(2, 1fr);
    } 
    .caption, .camera{
        flex-direction: column;
    }
.items{
    grid-template-columns: repeat(2, 1fr);
}
footer{
    align-items: center;
}
 }
  

   


    








  
   
    


