/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&family=Bebas+Neue&family=Heebo:wght@500&family=Poppins:wght@400;500&display=swap');
h1 {
    font-size: 50PX;
}
.main-section{

 
 display: flex;
 
}
.caption {
    width: 582px;
    height: 270px;
    padding-left: 2em;
  
  
}
.button{
    border-radius: 10px;
   background-color: #ff66d9;
   color: white;
   padding: 4px 6px 4px 9px;
}
/* common */
.point{
    padding-left: 1em;
}

body {font-family: 'Arimo', sans-serif;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Heebo', sans-serif;
    font-family: 'Poppins', sans-serif;

}
.camera img {
  position: absolute;
  width: 442px;
  height: 414px;
  left: 833px;  
}
.sub-container {
    text-align: center;
    padding-top: 350px;
}
/* course stylee */
.fa-star.filled{
    color: orangered;
}
.star-flex{
    display: flex;
    align-items: center;      
}
.all-course{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

